

#scan-area{
	display: flex;
	align-content: space-around;
	flex-wrap: nowrap;
}
#scan-area>input:first-of-type{
	/*flex: 3;*/
}
#scan-area>input:nth-of-type(2){
	/*flex: 1;*/
}
#scan-area>button{
	/*flex: 1;*/
}


#cash-panel{
	display: block;
	height: 100%;
	
}

ul>li{
	display: inline;
}

ul>li:before{
	content: " , ";
}
ul>li:first-child:before{
	content: "";
}